<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
<link rel="stylesheet" href="resources/app.css">
<script src="lib/angular.js"></script>
<script src="lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="app.js"></script>
<script src="product-list-controller.js"></script>
<script src="modal-controller.js"></script>
<script src="directive.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="ProductListCtrl as main">

<h1>Product List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Price</th>
        </tr>
    </thead>
     <tr ng-repeat = 'product in main.products' ng-class="{'selected':$index == main.selectedIndex}">
         <td>{{product.Name}}</td>
         <td>{{product.SKU}}</td>
         <td>{{product.Price | currency}}</td>
         <td><button ng-click="main.edit($index)">edit</button></td>
         <td><button ng-click="main.remove($index)">delete</button></td>
     </tr>
</table>

<input hidden type="text" ng-model="main.selectedName"/>
<input hidden type="text" ng-model="main.selectedSKU" />
<input hidden type="text" ng-model="main.selectedPrice" />

<br>

<div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="modalDialog.html">
        <div class="modal-header">
            <h3 ng-hide="edited"" class="modal-title">Add an item</h3>
            <h3 ng-show="edited" class="modal-title">Edit an item</h3>
        </div>
        <div class="modal-body">
            <form name="inputform">
                Name:<input type="text" name="Name" ng-model="Name" required/>
                <span class="error" ng-show="inputform.Name.$dirty && inputform.Name.$error.required">Name is required</span><br>
                SKU:<input type="text" name="SKU" ng-model="SKU" index=main.selectedIndex items=main.products required unique-field />
                <span class="error" ng-show="inputform.SKU.$dirty && inputform.SKU.$error.required">SKU is required</span>
                <span class="error" ng-show="inputform.SKU.$error.unique">SKU needs to be unique</span><br>
                Price:<input type="text" name="Price" ng-model="Price" required ng-pattern="/^\d+\.?\d*$/"/>
                <span class="error" ng-show="inputform.Price.$dirty && inputform.Price.$error.required">Price is required</span><br>
                <span class="error" ng-show="inputform.Price.$dirty && inputform.Price.$error.pattern">Price must be positive number</span><br>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled=inputform.$invalid ng-click="ok()">Ok</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-show="$parent.main.selectedIndex === -1" ng-click="open()">Add</button>
    <button class="btn btn-default" ng-hide="$parent.main.selectedIndex === -1" ng-click="open()">Edit</button>
</div>

<br>
<button class="btn" ng-click="main.export()">Export</button>

</body>
</html>
